@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root { */
/*   --foreground-rgb: 0, 0, 0; */
/*   --background-start-rgb: 214, 219, 220; */
/*   --background-end-rgb: 255, 255, 255; */
/* } */
/**/
/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --foreground-rgb: 255, 255, 255; */
/*     --background-start-rgb: 0, 0, 0; */
/*     --background-end-rgb: 0, 0, 0; */
/*   } */
/* } */
/**/
/* body { */
/*   color: rgb(var(--foreground-rgb)); */
/*   background: linear-gradient( */
/*       to bottom, */
/*       transparent, */
/*       rgb(var(--background-end-rgb)) */
/*     ) */
/*     rgb(var(--background-start-rgb)); */
/* } */

/* Override/extend DaisyUI classes */

.btn {
  @apply transition-all ease-in-out duration-700 hover:scale-105;
}

.link {
  @apply inline-flex transition transform ease-in-out duration-500 hover:scale-105 hover:text-neutral no-underline;
}

@keyframes bobbing {
  0%,
  100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
}

.bobbing-animation-1 {
  animation: bobbing 4s ease-in-out infinite;
}

.bobbing-animation-2 {
  animation: bobbing 3.5s ease-in-out infinite;
}
.bobbing-animation-3 {
  animation: bobbing 3s ease-in-out infinite;
}
.bobbing-animation-4 {
  animation: bobbing 2.5s ease-in-out infinite;
}
.bobbing-animation-5 {
  animation: bobbing 2s ease-in-out infinite;
}
